.Workbar-left{
    width: 100%;
    height: 50px;
    background-color: #151835; 
    display: flex;
    justify-content: left;
    user-select: none;
    overflow: visible;
}
.Workbar-right{
    width: 100%;
    height: 50px;
    background-color: #151835; 
    display: flex;
    justify-content: right;
    user-select: none;
    overflow: hidden;
}
.Option{
    margin: 0 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    color: aliceblue;
    font-size: 20pt;
    cursor: pointer;
}
.Exit{
    width: 65px;
    height: 65px;
    margin: 10px -20px;
    cursor: pointer;
    position: fixed;
}
