.label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
.calendar{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 320px;
    border: solid 5px rgb(75, 75, 75);
    background-color: #23285a;
    margin-top: 15px;
}
.week{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 20%;
    background-color: #151835;
}
.day{
    width: 14.2857142857%;
    height: 100%;
    background-color: rgb(223, 223, 233);
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: none;
    box-shadow: inset 0px 0px 0px 1px #3f4d64;
    cursor: pointer;
}

.day:focus{
    background-color: #151835;
    color: white;
    box-shadow: inset 0px 0px 0px 1px #8eafe4;
}

.day:hover{
    background-color: #98baf170;
    color: white;
}

.day:hover:focus{
    background-color: #8eafe4;
}

.day-dummy{
    width: 14.2857142857%;
    height: 100%;
    background-color: #151835;
    border-radius: 5px;
}
.cnt{
    margin-top: 25%; 
    margin-bottom: 25%;  
}